#!//bin/bash
# Packages hash: {{ include "ubuntu/snaps.txt" | sha256sum }}
# Packages hash: {{ include "ubuntu/snaps-classic.txt" | sha256sum }}
# Packages hash: {{ include "ubuntu/apt.txt" | sha256sum }}

OS="{{ .chezmoi.os }}"
DISTRO="{{ .chezmoi.osRelease.id }}"

echo $OS
echo $DISTRO

if [[ $OS -ne "linux" && $DISTRO -ne 'ubuntu' ]]; then
	exit 0
fi;

cd "{{ .chezmoi.workingTree }}"

SNAPS=$(cat ubuntu/snaps.txt)
SNAPS_CLASSIC=$(cat ubuntu/snaps-classic.txt)
APT_PACKAGES=$(cat ubuntu/apt.txt)

echo "Installing apt packages"
for apt_package in $APT_PACKAGES;
do 
sudo apt install $apt_package; 
done

echo "Installing snaps:"
for current_snap in $SNAPS; 
do 
sudo snap install $current_snap; 
done
for current_snap in $SNAPS_CLASSIC;
do
sudo snap install $current_snap --classic;
done
