#!/bin/sh

# Check if logged in to LastPass
if ! lpass status; then
  lpass login  {{ .git.personal.email }}
fi

if ! lpass status; then
  echo "Revise you lpass login"
  exit 1
fi

lpass show --notes "github_personal_public" > "$HOME/.ssh/github_personal.pub"
lpass show --notes "github_personal_private" > "$HOME/.ssh/github_personal"

ssh-add "$HOME/.ssh/github_personal"